.har-modal-wrapper {
  > .har-modal {
    > .content {
      position: relative;
      flex: 1;
      min-height: 0;
      padding: var(--space-20);
      overflow-x: hidden;
      overflow-y: auto;

      &.free {
        padding: 0;
        overflow: visible;
      }
    }
  }
}
