.har-modal-wrapper {
  > .har-modal {
    > .footer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      flex-shrink: 0;
      gap: var(--space-8);
      padding: var(--space-16) var(--space-20);
      border-top: solid 1px var(--gray-200);
    }
  }
}
