.har-button-action {
  position: relative;
}

.har-action-buttons {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: 0.25rem;
  border: solid 1px var(--gray-200);
  border-radius: var(--border-radius-sm);
  box-shadow: 0 0 15px -2.5px rgba(var(--black-rgb), 0.1);
  z-index: 1051;
  transition:
    visibility 250ms,
    opacity 250ms;

  > .har-button {
    display: flex;
    justify-content: flex-start;
  }
}
