/* .har-button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: max-content;
}
.har-button-group > .har-button,
.har-button-group > .har-button:is(.har-button-shape) {
  border: solid 1px transparent;
  border-right-color: rgba(var(--black-rgb), 0.1);
  border-radius: 0;
}
.har-button-group > .har-button:first-child,
.har-button-group > .har-button:is(.har-button-shape):first-child {
  border-top-left-radius: var(--border-radius-sm);
  border-bottom-left-radius: var(--border-radius-sm);
}
.har-button-group > .har-button:last-child,
.har-button-group .har-button:is(.har-button-shape):last-child {
  border: none;
  border-top-right-radius: var(--border-radius-sm);
  border-bottom-right-radius: var(--border-radius-sm);
} */

/* @import url("./variant/filled/core.css");
@import url("./variant/outlined/core.css"); */

.har-button-group {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
