/* Medium (Tablet Dikey & Büyük Telefonlar) */
@media (min-width: 576px) and (max-width: 767px) {
  .har-layout {
    --har-layout-header-height: 5rem;

    > .har-sider.right {
      width: 100%;
    }

    > .har-content {
      width: 100%;

      > .har-header {
        padding: 0 2.5rem;
      }

      > .har-section:not(.full-width) {
        max-width: none;
        padding: 2.5rem;
      }
    }
  }
}
