.ar-menu {
  > ul li ul {
    display: grid;
    grid-template-rows: 0fr;
    transition: 250ms ease-in-out;

    > div {
      overflow: hidden;
      margin-left: 1rem;
    }

    &.opened {
      grid-template-rows: 1fr;
    }
  }
}
