.har-button {
  &.xs {
    height: 2rem;
    font-size: 0.75rem;

    &.shape {
      width: 2rem;
      aspect-ratio: 1;
      padding: 0;
    }
  }

  &.sm {
    height: 2.25rem;
    font-size: 0.875rem;

    &.shape {
      width: 2.25rem;
      aspect-ratio: 1;
      padding: 0;
    }
  }

  &.md {
    height: 2.5rem;
    font-size: 0.875rem;

    &.shape {
      width: 2.5rem;
      aspect-ratio: 1;
      padding: 0;
    }
  }

  &.lg {
    height: 2.75rem;
    font-size: 1rem;

    &.shape {
      width: 2.75rem;
      aspect-ratio: 1;
      padding: 0;
    }
  }

  &.xl {
    height: 3rem;
    font-size: 1rem;

    &.shape {
      width: 3rem;
      aspect-ratio: 1;
      padding: 0;
    }
  }

  &.xxl {
    height: 3.25rem;
    font-size: 1.25rem;

    &.shape {
      width: 3.25rem;
      aspect-ratio: 1;
      padding: 0;
    }
  }
}
