/* Core Css */
@import url("./border.css");
@import url("./color.css");
@import url("./icon.css");
@import url("./position.css");
@import url("./shape.css");
@import url("./size.css");

.har-button {
  position: relative;
  min-width: fit-content;
  padding: 0 1rem;
  font-family: var(--system);
  font-size: 1rem;
  cursor: pointer;
  transition:
    background-color 150ms,
    border 150ms,
    color 150ms ease-in-out;
  outline: none;

  &.full-width {
    min-width: 100%;
  }

  &.disabled {
    color: var(--gray-500) !important;
    cursor: no-drop;

    &:hover {
      background-color: var(--gray-100) !important;
    }

    &:active {
      background-color: var(--gray-100) !important;
      border: solid var(--stroke-1) var(--gray-100) !important;
    }
  }

  > .text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
  }
}
