@import url("./border.css");
@import url("./color.css");
@import url("./size.css");

.har-checkbox-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  width: max-content;

  > label {
    color: var(--gray-800);
    font-family: var(--system);
    font-size: 1rem;
    cursor: pointer;

    > :is(input[type="checkbox"]) {
      display: none;

      + span {
        > .har-checkbox {
          &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            display: inline-block;
            content: "";
            width: 0.25rem;
            height: 0.5rem;
            border: solid 1px transparent;
          }

          &.disabled {
            border: solid var(--border-width-xs) var(--gray-300) !important;
            cursor: no-drop;

            + span.label {
              color: var(--gray-500);
              cursor: no-drop;
            }

            &:hover {
              background-color: transparent !important;
            }
          }
        }
      }

      &:checked {
        + span {
          > .har-checkbox {
            z-index: 2;

            &::before {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) rotate(45deg);
              display: inline-block;
              content: "";
              width: 0.25rem;
              height: 0.5rem;
              border: solid 1px transparent;
            }

            &.disabled {
              background-color: var(--gray-300) !important;
              cursor: no-drop;

              &::before {
                border-right-color: var(--gray-500) !important;
                border-bottom-color: var(--gray-500) !important;
              }

              &:hover {
                background-color: var(--gray-300) !important;
              }
            }
          }
        }
      }
    }

    > span {
      display: flex;
      align-items: center;
      gap: 0 0.5rem;
      user-select: none;

      > .har-checkbox {
        position: relative;
        display: inline-block;
      }

      > .trace {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        content: "";
        width: 1rem;
        height: 1rem;
        border-radius: var(--border-radius-pill);
        z-index: 1;
      }
    }
  }

  > .validation {
    color: var(--danger);
    font-family: var(--system);
    font-size: 0.8rem;
    font-weight: 400;
  }
}
