/* Core Css */
@import url("./color.css");
@import url("./radius.css");

.har-text-editor-wrapper {
  position: relative;
  width: 100%;
  font-family: var(--system);

  > .har-text-editor {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;

    > label {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 0.5rem;
      left: 0.55rem;
      color: var(--gray-600);
      letter-spacing: 1px;
      line-height: 1;
      transition:
        top 250ms ease-in-out,
        transform 250ms ease-in-out;
      z-index: 1;

      &.visible {
        visibility: visible;
        opacity: 1;
        top: 0;
        transform: translateY(-50%);
        left: 0.55rem;
        padding: 0 0.5rem;
        font-size: 0.75rem;
        line-height: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
      }
    }

    > iframe {
      width: 100%;
      color: var(--gray-800);
      color-scheme: inherit;
      border: solid var(--stroke-1) transparent;
      outline: none;
      box-sizing: border-box;
      transition:
        background 250ms,
        border 250ms,
        box-shadow 250ms ease-in-out;
    }

    > .toolbar {
      display: flex;
      flex-direction: row;
      gap: 0.25rem;
      margin-top: -1px;
      border: solid var(--stroke-1) transparent;
    }

    > .resize {
      position: relative;
      background-color: var(--gray-100);
      width: 100%;
      height: 1.5rem;
      border: solid var(--stroke-1) transparent;
      cursor: ns-resize;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--gray-500);
        width: 1.5rem;
        height: 0.1rem;
        box-shadow:
          0px -5px 0 0px var(--gray-500),
          0px 5px 0 0px var(--gray-500);
      }
    }

    > .har-validation-text {
      position: absolute;
      top: 100%;
      left: 0;
    }
  }

  &.disabled {
    > .har-text-editor {
      > iframe {
        background-color: var(--gray-100) !important;
        cursor: default;
      }

      > .toolbar,
      > .resize {
        pointer-events: none;
        opacity: 0.6;
        cursor: no-drop;
      }
    }
  }
}

.har-alias-panel {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: var(--white-500);
  width: 200px;
  max-height: 250px;
  border: solid 1px var(--gray-200);
  border-radius: var(--radius-4);
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0 10px 15px -5px var(--black-alpha-10);
  /* Sırasıyla; Ad, Süre, Hız, Gecikme Süresi, Tekrar Sayısı, Yön, Bitiş Süreci */
  animation: opened ease-in-out 250ms 0s 1 normal both;

  > ul {
    > li {
      display: flex;
      align-items: center;
      gap: 0 0.5rem;
      padding: 0 1rem;
      height: var(--input-height);
      cursor: pointer;

      &:hover {
        background-color: var(--gray-100);
      }
    }
  }
}

.har-text-editor--block-item {
  position: absolute;
  inset: 0;
  cursor: ns-resize;
}

@keyframes opened {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
