.har-input-wrapper {
  &:has(> .addon-before),
  &:has(> .addon-after) {
    > .addon-before,
    > .addon-after {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--gray-100);
      height: var(--input-height);
      padding: 0 0.5rem;
      color: var(--gray-500);
      font-family: var(--system);

      &:has(input, select, button, textarea) {
        position: relative;
        background-color: transparent;
        padding: 0 !important;
        margin-inline: -1px;
        z-index: 10;
      }

      + .addon-before {
        border-radius: var(--radius-0) !important;

        &::before {
          position: absolute;
          left: 0;
          content: "";
          background-color: rgba(0, 0, 0, 0.1);
          width: 1px;
          height: 65%;
        }
      }

      &:has(+ .addon-after) {
        border-radius: var(--radius-0) !important;
      }

      + .addon-after {
        &::before {
          position: absolute;
          left: 0;
          content: "";
          background-color: rgba(0, 0, 0, 0.1);
          width: 1px;
          height: 65%;
        }
      }
    }
  }

  &:has(> .addon-before) {
    > .addon-before {
      &.first {
        input,
        button {
          border-top-right-radius: var(--radius-0) !important;
          border-bottom-right-radius: var(--radius-0) !important;
        }
      }

      &.middle {
        input,
        button {
          border-radius: var(--radius-0) !important;
        }
      }

      &.last {
        input,
        button {
          border-radius: var(--radius-0) !important;
        }
      }
    }

    > .har-input {
      > .input {
        > input {
          border-top-left-radius: var(--radius-0) !important;
          border-bottom-left-radius: var(--radius-0) !important;
        }
      }
    }
  }

  &:has(> .addon-after) {
    > .addon-after {
      &.first {
        input,
        button {
          border-top-left-radius: var(--radius-0) !important;
          border-bottom-left-radius: var(--radius-0) !important;
        }
      }

      &.n-first {
        input,
        button {
          border-radius: var(--radius-0) !important;
        }
      }

      &.middle {
        input,
        button {
          border-radius: var(--radius-0) !important;
        }
      }

      &.last {
        input,
        button {
          border-top-left-radius: var(--radius-0) !important;
          border-bottom-left-radius: var(--radius-0) !important;
        }
      }
    }

    > .har-input {
      > .input {
        > input {
          border-top-right-radius: var(--radius-0) !important;
          border-bottom-right-radius: var(--radius-0) !important;
        }
      }
    }
  }
}
