.har-input-wrapper {
  &.border-radius-sm {
    > .har-input {
      > .input {
        > input {
          border-radius: var(--border-radius-sm);
        }
      }
    }
  }

  &.border-radius-lg {
    > .har-input {
      > .input {
        > input {
          border-radius: var(--border-radius-lg);
        }
      }
    }
  }

  &.border-radius-xl {
    > .har-input {
      > .input {
        > input {
          border-radius: var(--border-radius-xl);
        }
      }
    }
  }

  &.border-radius-xxl {
    > .har-input {
      > .input {
        > input {
          border-radius: var(--border-radius-xxl);
        }
      }
    }
  }

  &.border-radius-pill {
    > .har-input {
      > .input {
        > input {
          border-radius: var(--border-radius-pill);
        }
      }
    }
  }

  &.border-radius-none {
    > .har-input {
      > .input {
        > input {
          border-radius: 0;
        }
      }
    }
  }
}
