.har-input-wrapper {
  &.xs {
    > .addon-before,
    > .addon-after {
      height: 2rem;
      font-size: 0.75rem;
    }

    > .har-input {
      > .input {
        > input {
          height: 2rem;
          font-size: 0.75rem;
        }
      }
    }

    &.pin-input {
      width: 2rem;
      height: 2rem;
    }
  }

  &.sm {
    > .addon-before,
    > .addon-after {
      height: 2.25rem;
      font-size: 0.875rem;
    }

    > .har-input {
      > .input {
        > input {
          height: 2.25rem;
          font-size: 0.875rem;
        }
      }
    }

    &.pin-input {
      width: 2.25rem;
      height: 2.25rem;
    }
  }

  &.md {
    > .addon-before,
    > .addon-after {
      height: 2.5rem;
      font-size: 0.875rem;
    }

    > .har-input {
      > .input {
        > input {
          height: 2.5rem;
          font-size: 0.875rem;
        }
      }
    }

    &.pin-input {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  &.lg {
    > .addon-before,
    > .addon-after {
      height: 2.75rem;
      font-size: 1rem;
    }

    > .har-input {
      > .input {
        > input {
          height: 2.75rem;
          font-size: 1rem;
        }
      }
    }

    &.pin-input {
      width: 2.75rem;
      height: 2.75rem;
    }
  }

  &.xl {
    > .addon-before,
    > .addon-after {
      height: 3rem;
      font-size: 1rem;
    }

    > .har-input {
      > .input {
        > input {
          height: 3rem;
          font-size: 1rem;
        }
      }
    }

    &.pin-input {
      width: 3rem;
      height: 3rem;
    }
  }

  &.xxl {
    > .addon-before,
    > .addon-after {
      height: 3.25rem;
      font-size: 1.25rem;
    }

    > .har-input {
      > .input {
        > input {
          height: 3.25rem;
          font-size: 1.25rem;
        }
      }
    }

    &.pin-input {
      width: 3.25rem;
      height: 3.25rem;
    }
  }
}
