:root {
  --white-pure: #ffffff;

  --blue-50: #eff5ff;
  --blue-100: #dbe8fe;
  --blue-200: #bfd7fe;
  --blue-300: #93bbfd;
  --blue-400: #609afa;
  --blue-500: #3b82f6;
  --blue-600: #2570eb;
  --blue-700: #1d64d8;
  --blue-800: #1e55af;
  --blue-900: #1e478a;
  --blue-950: #172e54;

  --purple-50: #faf5ff;
  --purple-100: #f4e8ff;
  --purple-200: #ebd5ff;
  --purple-300: #dab4fe;
  --purple-400: #c184fc;
  --purple-500: #a855f7;
  --purple-600: #9133ea;
  --purple-700: #7a22ce;
  --purple-800: #6621a8;
  --purple-900: #531c87;
  --purple-950: #370764;

  --pink-50: #fdf2f8;
  --pink-100: #fce7f3;
  --pink-200: #fbcfe8;
  --pink-300: #f9a8d4;
  --pink-400: #f472b7;
  --pink-500: #eb3d94;
  --pink-600: #db2778;
  --pink-700: #be185e;
  --pink-800: #9d174e;
  --pink-900: #831844;
  --pink-950: #500724;

  --red-50: #fef2f2;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;
  --red-950: #450a0a;

  --orange-50: #fff4ed;
  --orange-100: #ffe6d5;
  --orange-200: #feccaa;
  --orange-300: #fdac74;
  --orange-400: #fb8a3c;
  --orange-500: #f97316;
  --orange-600: #ea670c;
  --orange-700: #c2570c;
  --orange-800: #9a4a12;
  --orange-900: #7c3d12;
  --orange-950: #432007;

  --yellow-50: #fef9e8;
  --yellow-100: #fef0c3;
  --yellow-200: #fee28a;
  --yellow-300: #fdd147;
  --yellow-400: #fac215;
  --yellow-500: #eab308;
  --yellow-600: #ca9a04;
  --yellow-700: #8e6d06;
  --yellow-800: #85680e;
  --yellow-900: #715a12;
  --yellow-950: #423306;

  --green-50: #ecfdf7;
  --green-100: #d1faec;
  --green-200: #a7f3da;
  --green-300: #6ee7bf;
  --green-400: #34d39e;
  --green-500: #10b981;
  --green-600: #058a5e;
  --green-700: #047852;
  --green-800: #065f42;
  --green-900: #064e36;
  --green-950: #022c1e;

  --teal-50: #f0fdfc;
  --teal-100: #ccfbf6;
  --teal-200: #99f6ec;
  --teal-300: #5eeadb;
  --teal-400: #2dd4c2;
  --teal-500: #14b8a6;
  --teal-600: #0d9485;
  --teal-700: #0f766b;
  --teal-800: #115e56;
  --teal-900: #134e48;
  --teal-950: #042f2a;

  --cyan-50: #ecfcff;
  --cyan-100: #cff7fe;
  --cyan-200: #a5effc;
  --cyan-300: #67e4f9;
  --cyan-400: #22d0ee;
  --cyan-500: #06b6d4;
  --cyan-600: #0899b2;
  --cyan-700: #0e7d90;
  --cyan-800: #156775;
  --cyan-900: #165863;
  --cyan-950: #083b44;

  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #525252;
  --gray-700: #404040;
  --gray-800: #262626;
  --gray-900: #171717;
  --gray-950: #0a0a0a;
}
