:is(.har-row, .row) > [class*="col"] {
  &.left,
  &.center,
  &.right {
    position: relative;
    display: flex;
  }

  &.left {
    justify-content: flex-start;
  }

  &.center {
    justify-content: center;
  }

  &.right {
    justify-content: flex-end;
  }
}
