:is(.har-row, .row) {
  > [class*="col-"] {
    flex: 0 0 calc(100% * var(--har-span) / 12);
    max-width: calc(100% * var(--har-span) / 12);
  }

  > .col-xs-1 {
    --har-span: 1;
  }
  > .col-xs-2 {
    --har-span: 2;
  }
  > .col-xs-3 {
    --har-span: 3;
  }
  > .col-xs-4 {
    --har-span: 4;
  }
  > .col-xs-5 {
    --har-span: 5;
  }
  > .col-xs-6 {
    --har-span: 6;
  }
  > .col-xs-7 {
    --har-span: 7;
  }
  > .col-xs-8 {
    --har-span: 8;
  }
  > .col-xs-9 {
    --har-span: 9;
  }
  > .col-xs-10 {
    --har-span: 10;
  }
  > .col-xs-11 {
    --har-span: 11;
  }
  > .col-xs-12 {
    --har-span: 12;
  }

  @media (width >= 576px) {
    > .col-sm-1 {
      --har-span: 1;
    }
    > .col-sm-2 {
      --har-span: 2;
    }
    > .col-sm-3 {
      --har-span: 3;
    }
    > .col-sm-4 {
      --har-span: 4;
    }
    > .col-sm-5 {
      --har-span: 5;
    }
    > .col-sm-6 {
      --har-span: 6;
    }
    > .col-sm-7 {
      --har-span: 7;
    }
    > .col-sm-8 {
      --har-span: 8;
    }
    > .col-sm-9 {
      --har-span: 9;
    }
    > .col-sm-10 {
      --har-span: 10;
    }
    > .col-sm-11 {
      --har-span: 11;
    }
    > .col-sm-12 {
      --har-span: 12;
    }
  }

  @media (width >= 768px) {
    > .col-md-1 {
      --har-span: 1;
    }
    > .col-md-2 {
      --har-span: 2;
    }
    > .col-md-3 {
      --har-span: 3;
    }
    > .col-md-4 {
      --har-span: 4;
    }
    > .col-md-5 {
      --har-span: 5;
    }
    > .col-md-6 {
      --har-span: 6;
    }
    > .col-md-7 {
      --har-span: 7;
    }
    > .col-md-8 {
      --har-span: 8;
    }
    > .col-md-9 {
      --har-span: 9;
    }
    > .col-md-10 {
      --har-span: 10;
    }
    > .col-md-11 {
      --har-span: 11;
    }
    > .col-md-12 {
      --har-span: 12;
    }
  }

  @media (width >= 992px) {
    > .col-lg-1 {
      --har-span: 1;
    }
    > .col-lg-2 {
      --har-span: 2;
    }
    > .col-lg-3 {
      --har-span: 3;
    }
    > .col-lg-4 {
      --har-span: 4;
    }
    > .col-lg-5 {
      --har-span: 5;
    }
    > .col-lg-6 {
      --har-span: 6;
    }
    > .col-lg-7 {
      --har-span: 7;
    }
    > .col-lg-8 {
      --har-span: 8;
    }
    > .col-lg-9 {
      --har-span: 9;
    }
    > .col-lg-10 {
      --har-span: 10;
    }
    > .col-lg-11 {
      --har-span: 11;
    }
    > .col-lg-12 {
      --har-span: 12;
    }
  }

  @media (width >= 1200px) {
    > .col-xl-1 {
      --har-span: 1;
    }
    > .col-xl-2 {
      --har-span: 2;
    }
    > .col-xl-3 {
      --har-span: 3;
    }
    > .col-xl-4 {
      --har-span: 4;
    }
    > .col-xl-5 {
      --har-span: 5;
    }
    > .col-xl-6 {
      --har-span: 6;
    }
    > .col-xl-7 {
      --har-span: 7;
    }
    > .col-xl-8 {
      --har-span: 8;
    }
    > .col-xl-9 {
      --har-span: 9;
    }
    > .col-xl-10 {
      --har-span: 10;
    }
    > .col-xl-11 {
      --har-span: 11;
    }
    > .col-xl-12 {
      --har-span: 12;
    }
  }
}
