.har-date-calendar {
  > .header {
    display: flex;
    align-items: center;
    min-height: 3.75rem;
    padding: 0 1rem;
    border-bottom: solid 1px var(--gray-200);

    > .select-field {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 0 0.75rem;
      width: 100%;

      > .prev,
      > .next {
        display: flex;
        align-items: center;

        > svg {
          cursor: pointer;
        }
      }

      > .selects {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: center;
        gap: 0 0.5rem;
        height: var(--input-height);

        > div {
          > span {
            user-select: none;
          }
        }
      }
    }
  }
}
