&.white {
  color: var(--gray-700);

  &.filled {
    background-color: var(--white-500);
    border: var(--stroke-1) solid var(--gray-300);

    &:focus {
      border: var(--stroke-1) solid var(--gray-400);
      box-shadow: 0 0 0 2.5px var(--gray-200);
    }

    &::placeholder {
      color: var(--gray-400);
    }
  }

  &.surface-borderless {
    background-color: var(--white-500);

    &:focus {
      background-color: transparent;
      box-shadow: 0 0 0 2.5px var(--gray-200);
    }

    &::placeholder {
      color: var(--gray-400);
    }
  }

  &.outlined {
    background-color: transparent;
    border: var(--stroke-1) solid var(--gray-300);

    &:focus {
      box-shadow: 0 0 0 2.5px var(--gray-200);
    }

    &::placeholder {
      color: var(--gray-400);
    }
  }

  &.dashed {
    background-color: transparent;
    border: var(--stroke-1) dashed var(--gray-300);

    &:focus {
      box-shadow: 0 0 0 2.5px var(--gray-200);
    }

    &::placeholder {
      color: var(--gray-400);
    }
  }

  &.borderless {
    background-color: transparent;
    border: var(--stroke-1) solid transparent;

    &::placeholder {
      color: var(--gray-400);
    }
  }
}
