.har-table {
  &:is(.scroll) {
    > .content {
      max-width: 100%;
      overflow: auto;

      > table {
        > thead {
          > tr {
            > th {
              position: sticky;

              &:not(.column-group) {
                background-color: var(--gray-100);
              }
            }

            &:nth-child(1) > th {
              top: 0;
              z-index: 21;
            }

            &:nth-child(2) > th {
              top: 2.5rem;
              z-index: 20;
            }

            &:nth-child(3) > th {
              top: 5rem;
              z-index: 19;
            }

            &.column-groups > th {
              top: 0;
              z-index: 22;
            }

            &.column-groups + tr > th {
              top: 2.5rem;
              z-index: 21;
            }

            &.column-groups + tr + tr > th {
              top: 5rem;
              z-index: 20;
            }
          }
        }
      }
    }
  }

  > .content {
    > table {
      th.sticky-left,
      th.sticky-right {
        z-index: 30;
      }

      > thead {
        > tr {
          > th {
            &.sticky-left,
            &.sticky-right {
              background-color: var(--gray-100);
            }

            &.sticky-left {
              position: sticky;
              left: 0;

              &.active-sticky {
                box-shadow: inset -1px 0 0 0 var(--gray-200);
              }
            }

            &.sticky-right {
              position: sticky;
              right: 0;

              &.active-sticky {
                box-shadow: inset 1px 0 0 0 var(--gray-200);
              }
            }

            &.column-group {
              > .column-group-title {
                position: sticky;
                left: var(--har-table-sticky-inset-left, 0px);
                z-index: 1;
                display: inline-block;
                width: max-content;
                max-width: 100%;
                padding-inline: var(--space-4);
                background-color: inherit;
                box-decoration-break: clone;
                -webkit-box-decoration-break: clone;
              }
            }
          }
        }
      }

      > tbody {
        > tr {
          > td {
            &.sticky-left,
            &.sticky-right {
              background-color: var(--white-500);
            }

            &.sticky-left {
              position: sticky;
              left: 0;

              &.active-sticky {
                box-shadow: inset -1px 0 0 0 var(--gray-200);
              }
            }

            &.sticky-right {
              position: sticky;
              right: 0;

              &.active-sticky {
                box-shadow: inset 1px 0 0 0 var(--gray-200);
              }
            }
          }

          &:hover > td.sticky-left,
          &:hover > td.sticky-right {
            background-color: var(--gray-100);
          }
        }
      }
    }
  }
}
